$sm: 375px;
$md: 768px;
$lg: 1280px;
$xl: 1920px;

$white: #eeeeee;
$dark: #1f1f1f;
$dark-alpha: #060606e2;
$blue: #0266d2;
$green: #21c056;

$header_height: 70px;

$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;
$lato: "Lato", sans-serif;
