@use "./variables" as *;

.card {
  background: $dark;
  width: 100%;
  border-radius: 5px;

  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .card_section_container {
    margin: 1rem 0;
  }

  .card_content {
    padding: 0 0.5rem;
  }

  .card_title {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0;
  }

  .card_details_title {
    font-size: 1.6rem;
    padding: 0.8rem 0;
  }

  .card_subHeading {
    font-size: 1rem;
  }

  .card_desc {
    font-size: 0.9rem;
  }

  p {
    text-transform: capitalize;
  }

  .button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 0;
  }

  .card_button {
    background: $blue;
    padding: 0.7rem 1.4rem;
    border: none;
    border-radius: 5px;
    font-size: 0.95rem;
    cursor: pointer;
  }
}

@media only screen and (max-width: $md) {
  // .card {
  //   width: 80%;
  // }
}
